@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: "Lato", sans-serif;
  font-size: 105%;
}
header{
  background-color: #252932;
  color: white;
  margin-bottom: 5rem;
  padding: 3rem;
}
header > span{
  margin: 0 2rem;
}
a{
  color: #0bbad1;
  text-decoration: none;
}
footer{
  background-color: #252932;
  color: white;
  padding: 3rem;
  margin-top: 10%;
}
img{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.parent {
  background-color: #252932;
  border-radius: 20px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
#hide{
  color: #F56F6C;
  font: bold italic 600;
  font-size: 70%;
}
button{
  margin-top: 5px;
  padding: 10px;
  background-color: #195962;
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  transition: 500ms;
  font-weight: 700;
}
button:hover{
  background-color: #0bbad1;
  color: black;
  transition: 500ms;
  cursor: pointer;
}
.table{
  margin: 5rem;
  display: flex;
  justify-content: center;
}
body{
  background-color: #191C21;
  color: white;
}
th, tr, td{
  border: 1px solid white;
  padding: 1rem;
  text-align: center;
}